<div class="container" id="about">
    <div class="jumbotron">
    	<div class="row">
			<div class="col-sm-12 col-md-12">
        		<h1 class="display-4">Start using Vox Populi!</h1>
        		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aspernatur assumenda eveniet pariatur earum
            amet, inventore error, commodi numquam, facilis rerum cumque repudiandae ipsam reiciendis blanditiis sapiente
            suscipit velit natus.</p>
         	</div>
         </div>
         
         <div class="row text-center">
         	<div class="col-sm-6 col-md-6">
                <a class="btn btn-secondary btn-lg" href="#" role="button">Create a petition</a>
            </div>
            <div class="col-sm-6 col-md-6">
                 <a class="btn btn-secondary btn-lg" href="#" role="button">Display petitions list</a>
            </div>
        </div>
        
    
    </div>
</div>