<div class="container" id="About">
    <div class="jumbotron">

        <h1 class="display-3">Welcome to Vox Populi!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aspernatur assumenda eveniet pariatur earum
            amet, inventore error, commodi numquam, facilis rerum cumque repudiandae ipsam reiciendis blanditiis sapiente
            suscipit velit natus.</p>
        <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>