<footer class="container">
	<div class="row text-center bg-light">
		<div class="col-md-4">
			<a class="navbar-brand" href="#"></a><img class="img-fluid"
				src="img/voxpopuli.jpg" alt="vox populi"></a>
			<hr class="light">
			<p>
				<b>Vox Populi</b>. 9, Av. des Hauts-Fourneaux
			</p>
			<p>L-4362 Esch-sur-Alzette - Luxembourg</p>
			<p>contact@voxpopuli.com</p>
			<br></br> <br></br>
			<p></p>

		</div>
		<div class="col-md-4 p-t+36">
			<hr class="light">
			<h5>Next features</h5>
			<hr class="light">
			<p>micro-complaints</p>
			<p>demonstrations and civic events</p>
			<p>opinion polls</p>
			<p>volunteering in Lux</p>
			<p>good neighbourhood</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5>News</h5>
			<hr class="light">
			<p>Vox Populi increments the participation of ...</p>
			<p>Decision making made easy by Vox Populi.</p>
			<p>3.841 issues solved thanks to citizens participation</p>
			<p>The yelow-vests crisis solved thanks to Vox Populi</p>
			<p>Vox Populi converts Luxembourg in the new switzerland</p>
		</div>
	</div>
	
	
	<hr class="light">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div class="col-md-12">
				<p>
					&copy; VoxPopuli 2018 | <a href="privacy" target="_blank">Legal
						Stuff and privacy</a></b>
				</p>
			</div>

			<div class="col-md-12
				<a href="www.facebook.com"><i class="fab fa-facebook"></i></a> <a
					href="www.twitter.com"><i class="fab fa-twitter"></i></a> <a
					href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
			</div>

		</div>
	</div>
</footer>