<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/voxpopuli.jpg" alt="vox populi">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                {% include 'nav/mainLinks.html.twig' %}
				{% if app.user %}
            	<a href="/logout">Logout</a>
            	{% else %}
                {% include 'forms/registerForm.html.twig' %}
                {% include 'forms/loginForm.html.twig' %}
				{% endif %}
            </ul>
        </div>
    </div>
</nav>