<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/voxpopuli.jpg" alt="vox populi">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                {% include 'nav/mainLinks.html.twig' %}

                <!-- DROPDOWN SIGNUP FORM TO REGISTER-->
                {% include 'forms/registerForm.html.twig' %}
                <!-- DROPDOWN SIGNIN FORM TO LOGIN -->
                {% include 'forms/loginForm.html.twig' %}

                <!-- DROPDOWN FORGOT PASSWORD FORM TO CALL THE CHANGE PASSWORD FORM -->
                {% include 'forms/pwdChangeForm.html.twig' %}

                <!-- DROPDOWN CHANGE PASSWORD FORM  -->
                {% include 'forms/pwdChangeFormForm.html.twig' %}
            </ul>
        </div>
    </div>
</nav>