<div class="container" id="team-presentation">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the Team</h1>
		</div>
		<hr>
	</div>
	<div class="row">
		

			<div class="col-md-3">
				<div class="card">
					<img class="card-img-top" src="img/FilipeTeam.jpg"
						alt="photo of Filipe">
					<div class="card-body">
						<h4 class="card-title"><a href="http://linkedin.com/in/m-filipe-cruz"
							class="btn btn-outline-secondary"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>   Filipe Cruz</h4>
						<p class="card-text">
							<b>The grey hat</b>. Learning is his tool. I have worked in the
							cinema industry in Luxembourg as a cinema location mangaer and as
							a IT officer. I love dogs and social games. <br>
						</p>
							
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img class="card-img-top" src="img/JeanCharlesTeam.jpg"
						alt="photo of Jean-Charles">
					<div class="card-body">
						<h4 class="card-title"><a href="http://linkedin.com/in/jcmanigart"
							class="btn btn-outline-secondary"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>   Jean-Charles Manigard</h4>
						<p class="card-text">
							<b>The marketer</b>. Highly accomplished, goal oriented,
							resourceful, and innovative management professional with 20+
							years diverse experience/market/industry knowledge, within
							global/international organizations, in IT Consultancy & Business
							Development.
						</p>
							
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img class="card-img-top" src="img/JonathanTeam.png"
						alt="photo of Jonathan">
					<div class="card-body">
						<h4 class="card-title"><a href="http://linkedin.com/in/jonathan-de-riemaecker"
							class="btn btn-outline-secondary"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>   Jonathan De Riemaecker</h4>
						<p class="card-text">
							<b>The coder</b>. Extremely motivated to constantly develop my
							skills and grow professionally. Confident to come up with
							interesting ideas for unforgettable technology campains. I am fan
							of the french literature and the music composition
						</p>
							
					</div> 
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img class="card-img-top" src="img/MarcCascantTeam.png"
						alt="photo of Marc Cascant">
					<div class="card-body">
						<h4 class="card-title"><a href="http://linkedin.com/in/mcascant/"
							class="btn btn-outline-secondary"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>   Marc Cascant</h4>
						<p class="card-text">
							<b>The scrum master</b>. Economist. 15+ years as manager of NGO
							and participating in social and citizens movements in EU and
							Africa. Ecologist militant. Conviced on the force of the people
							to manage the change.
						</p>
						
					</div>
				</div>
			</div>
		
	
	</div>
</div>