<div class="container" id="team">

	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the Team</h1>
		</div>
		<hr>
	</div>
	
	<div class="card-deck">
				
				<div class="card border-primary mb-3">

                    <img class="card-img-top" src="img/filipe.jpg" alt="photo of Filipe">
                    <div class="card-body">
                        <h5 class="card-title">Filipe</h5>
                        <h6 class="card-subtitle mb-2 text-muted">aka The Grey Hat</h6>
                        <p class="card-text">Learning is his tool. I have worked in the
							cinema industry in Luxembourg as a cinema location mangaer and as
							a IT officer. I love dogs and social games</p>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Filipe LinkedIn </small> <a href="http://linkedin.com/in/m-filipe-cruz"
							class="btn btn-outline-primary btn-sm"><img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

				<div class="card border-primary mb-3">

                    <img class="card-img-top" src="img/jeancharles.jpg" alt="photo of Jean-Charles">
                    <div class="card-body">
                        <h5 class="card-title">Jean-Charles</h5>
                        <h6 class="card-subtitle mb-2 text-muted">aka The Marketer</h6>
                        <p class="card-text">Highly accomplished, goal oriented,
							resourceful, and innovative management professional with 20+
							years diverse experience/market/industry knowledge, within
							global/international organizations, in IT Consultancy & Business
							Development</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="http://linkedin.com/in/jcmanigart"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#"> <i class="fab fa-github"></i></a>                        
					 </div>
                </div>

				<div class="card border-primary mb-3">

                    <img class="card-img-top" src="img/jonathan.jpg" alt="photo of Jonathan">
                    <div class="card-body">
                        <h5 class="card-title">Jonathan</h5>
                        <h6 class="card-subtitle mb-2 text-muted">aka The Coder</h6>
                        <p class="card-text">Extremely motivated to constantly develop my
							skills and grow professionally. Confident to come up with
							interesting ideas for unforgettable technology campains. I am fan
							of the french literature and the music composition</p>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Jonathan LinkedIn </small> <a href="http://linkedin.com/in/jonathan-de-riemaecker"
							class="btn btn-outline-primary btn-sm"><img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

				<div class="card border-primary mb-3">

                    <img class="card-img-top" src="img/marc.jpg" alt="photo of Marc">
                    <div class="card-body">
                        <h5 class="card-title">Marc</h5>
                        <h6 class="card-subtitle mb-2 text-muted">aka The Scrum Master</h6>
                        <p class="card-text">Economist. 15+ years as manager of NGO
							and participating in social and citizens movements in EU and
							Africa. Ecologist militant. Conviced on the force of the people
							to manage the change</p>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Marc LinkedIn </small> <a href="http://linkedin.com/in/mcascant/"
							class="btn btn-outline-primary btn-sm"><img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
			
		
	
	</div>
</div>