<div class="container" id="team-presentation">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the Team</h1>
		</div>
	</div>

	<hr>

	<div class="card-deck">

		<div class="card">
			<img class="card-img-top" src="img/FilipeTeam.jpg"
				alt="photo of Filipe">

			<div class="card-body">
				<h4 class="card-title d-flex justify-content-between">
					<div class="text-left">Filipe Cruz</div>
					<div>
						<a href="http://linkedin.com/in/m-filipe-cruz" target="_blank"
							class="btn btn-outline-secondary"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
					</div>
				</h4>
				<p class="card-text">
					<b>The grey hat</b>. 
					<br>Learning is his tool. I have worked in the
					cinema industry in Luxembourg as a cinema location manager and as a
					IT officer. <br><br>I love dogs and social games. <br>
				</p>
			</div>
		</div>


		<div class="card">
			<img class="card-img-top" src="img/JeanCharlesTeam.jpg"
				alt="photo of Jean-Charles">
			<div class="card-body">
				<h4 class="card-title d-flex justify-content-between">
					<div class="text-left">Jean-Charles Manigard</div>
					<div>
						<a href="http://linkedin.com/in/jcmanigart"
							class="btn btn-outline-secondary" target="_blank"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
					</div>

				</h4>
				<p class="card-text">
					<b>The marketer</b>. 
					<br>Highly accomplished, goal oriented,
					resourceful, and innovative management professional with 20+ years
					diverse experience/market/industry knowledge, within
					global/international organizations, in IT Consultancy & Business
					Development.
				</p>

			</div>
		</div>


		<div class="card">
			<img class="card-img-top" src="img/JonathanTeam.jpg"
				alt="photo of Jonathan">
			<div class="card-body">
				<h4 class="card-title d-flex justify-content-between">
					<div class="text-left">Jonathan De Riemaecker</div>
					<div>
						<a href="http://linkedin.com/in/jonathan-de-riemaecker"
							class="btn btn-outline-secondary" target="_blank"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
					</div>
				</h4>
				<p class="card-text">
					<b>The coder</b>. 
					<br>Extremely motivated to constantly develop my
					skills and grow professionally. Confident to come up with
					interesting ideas for unforgettable technology campains. <br><br>I am fan
					of the french literature and the music composition
				</p>

			</div>
		</div>


		<div class="card">
			<img class="card-img-top" src="img/MarcCascantTeam.png"
				alt="photo of Marc">

			<div class="card-body">
				<h4 class="card-title d-flex justify-content-between">
					<div class="text-left">Marc Cascant</div>
					<div>
						<a href="http://linkedin.com/in/mcascant"
							class="btn btn-outline-secondary" target="_blank"> <img border="0"
							alt="LinkedIn link" <i class="fab fa-linkedin-in"></i></a>
					</div>
				</h4>
				<p class="card-text">
					<b>The scrum master</b>. 
					<br>Economist. 15+ years as manager of NGO and
					participating in social and citizens movements in EU and Africa.
					Ecologist militant. <br><br>Conviced on the force of the people to manage
					the change.
				</p>
			</div>
		</div>



	</div>

</div>

<br>