<div class="modal" id="${post.title}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <!-- Modal Container, ID -->

    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- Modal size/shape definition -->

        <div class="modal-content">
            <!-- Modal border, shadow, background definition -->

            <div class="modal-header">
                <!-- Both: Modal header and footer-->

                <div class="modal-title">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                        ${post.title}
                    </h5>
                </div>

                <div class="sideInfosContainer">

                    <div class="tagButton">
                        ${post.tagList}
                    </div>

                    <div class="modalPetitionViewButtons counterInfo">
                        <button type="button" class="btn btn-primary btn-warning btn-sm">1256 / 2000</button>
                    </div>

                </div>
            </div>

            <!-- Modal maint content here -->
            <div class="modal-body">
                <div class=petitionText_petitionImgContainer>
                    ${post.text}
                    <img src="https://picsum.photos/200/?random" alt="petitionImg">
                </div>
            </div>

            <div class="modal-footer">
                
               
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
                            
                
                <button type="button" class="btn btn-primary">SocialStuff</button>
                <button type="button" class="btn btn-primary">Archive</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close this view</button>
            </div>
        </div>
    </div>
</div>
