{% extends 'base.html.twig' %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
    			<tr>
    				<td>{{ post.getTitle() }}</td>
    			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
