<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false" data-hint="This is a tooltip!" data-hintposition="top-middle" data-position="bottom-right-aligned">
	Help
	</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a id="myLink" class="dropdown-item" title="Click to take the guided tour" href="#" onclick="introJs().start();return false;">Guided
			tour</a>
			<a id="myLink2" class="dropdown-item" title="Click to see some hints" href="#" onclick="introJs().addHints();return false;">Hints</a>
		<div class="dropdown-divider"></div>

		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#projectInformation">Project Information</a>
		
		</div>
</li>