<li class="nav-item active">

<!-- JC COMMENT: I ADDED THE DATA-HINT/DATA-HINTPOSITION/DATA-POSITION TO DISPLAY ON HINTS CALL -->
    <a class="nav-link" href="#home" data-hint="This is a tooltip!" data-hintposition="top-middle" data-position="bottom-right-aligned">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#about" data-hint="This is a tooltip!" data-hintposition="top-middle" data-position="bottom-right-aligned">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#team" data-hint="This is a tooltip!" data-hintposition="top-middle" data-position="bottom-right-aligned">Team</a>
</li>