<div class="modal fade" id="projectInformation" tabindex="-1" role="dialog" aria-labelledby="projectInformation"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Project Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container">
                            <a class="navbar-brand" href="#"><img src="img/voxpopuli.jpg" alt="vox populi"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#projectInformationContent"
                                aria-controls="projectInformationContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="projectInformationContent">

                                <ul data-step="5" data-intro="Get it, use it." class="navbar-nav ml-auto introjs-showElement introjs-relativePosition">
                                    <li class="nav-item active"><a class="nav-link" href="#agenda">Agenda <span class="sr-only">(current)</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="#projectDetails">Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#projectRecommendations">Recommendations</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#userWorkflow">Workflow</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#dbSchema">Db</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <h4 id="agenda">Webforce3 project presentation agenda</h4>
                    <br>
                    <table class="table table-sm table-hover">
                        <caption>Webforce3 project presentation agenda</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Agenda</th>
                                <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Project description</td>
                                <td>Vox Populi</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Presentation of the different members of the team and their respective roles</td>
                                <td>Filipe[Back/Front focus on ajax calls], JC [Front/Back focus on UX/UI], Jonathan
                                    [Back/Front,
                                    focus on user management], Marc [Front/Back focus on content]</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Presentation of the collective production stages, the tools and technologies used,
                                    justify
                                    the
                                    technical choices</td>
                                <td>Tools & Technologies: HTML, CSS, AJAX, BOOTSTRAP, SYMFONY, GIT/GITHUB, SPA,...</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Demonstration</td>
                                <td><i class="fas fa-forward text-secondary"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Difficulties encountered during the project</td>
                                <td><i class="fas fa-comments text-secondary"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Possible future prospects of the project after the training</td>
                                <td>Developing further the app MVP according to lean start-up model and progressively
                                    add new
                                    features according to the customer discovery feedback</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Questions / Answers with the public</td>
                                <td><i class="fas fa-comments text-secondary"></i></td>

                            </tr>



                        </tbody>
                    </table>

                    <h4 id="projectDetails">Webforce3 project details</h4>
                    <br>
                    <table class="table table-sm table-hover">
                        <caption>Webforce3 project details</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>The name of the project</td>
                                <td>Vox Populi</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>The purpose of the website or web application created</td>
                                <td>To allow the people to express their voice/issues/claims on a specific topic and turn these into actions</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>The main features</td>
                                <td>User Management, Petitions, Votes, Comments,...</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Recommendations that the team commits to put into practice</td>
                                <td>Git versioning, GitHub platform, DSM, W3C,...</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Team members and outline of the division of roles</td>
                                <td>Filipe[Back/Front focus on ajax calls], JC [Front/Back focus on UX/UI], Jonathan
                                    [Back/Front, focus on user management], Marc [Front/Back focus on content]</td>
                            </tr>

                        </tbody>
                    </table>

                    <h4 id="projectRecommendations">Webforce3 project recommendations</h4>
                    <br>
                    <table class="table table-sm table-hover">
                        <caption>Webforce3 project recommendations</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Requirement</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>The project must use notions of BackOffice and FrontOffice</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>It must include use of a database</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>The FrontOffice part must be integrated using techniques of Responsive Web Design</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>The PHP code must be organized according to MVC architecture using the WebForce3
                                    educational framework</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>The PHP code must be object oriented</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>The JavaScript code must use at least one external API, or, alternatively,
                                    integrate AJAX
                                    features</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>The HTML / CSS code must be valid and accessible</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>The project must put into practice some notions related to security, such as
                                    password
                                    hashing or measures to avoid "SQL injection"-type attacks.</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <br>
                        <img class="img-fluid rounded" src="img/w3ccheck18122018.PNG" alt="SQL Database Schema">

                    <h4 id="#userWorkflow">User Workflow</h4>
                    <br>
                    <img class="img-fluid rounded" src="img/userworkflow.PNG" alt="User Workflow">

                    <h4 id="#dbSchema">SQL Database Schema</h4>
                    <br>
                    <img class="img-fluid rounded" src="img/vpDbSchema.PNG" alt="SQL Database Schema">

                    <h4 id="#features">Features</h4>
                    <br>
                    <table class="table table-sm table-hover">
                        <caption>Vox Populi features by profile type</caption>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Feature</th>
                                <th scope="col">Anonymous</th>
                                <th scope="col">User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Display petition</td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Create petition</td>
                                <td><i class="far fa-times-circle text-danger"></i></td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Vote petition</td>
                                <td><i class="far fa-times-circle text-danger"></i></td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Comment petition</td>
                                <td><i class="far fa-times-circle text-danger"></i></td>
                                <td><i class="far fa-check-circle text-success"></i></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>